body {
  font-family: "Poppins", sans-serif;
}

.page-content {
  margin-top: 6em;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 0.4em;
  p {
    color: #979797;
  }
}

.form-control {
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}
