.card-dashboard-product {
  margin-bottom: 1.6em;

  .card-body {
    .product-title {
      font-weight: normal;
      font-size: 1.1em;
      color: #0c0d36;
    }

    .product-category {
      font-weight: normal;
      font-size: 0.9em;
      color: #c5c5c5;
    }
  }
}
