.card {
  background-color: #fefefe;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 15px #f1f1f8;
  text-decoration: none !important;
}

.dashboard-card-title {
  color: #c5c5c5;
  font-size: 1em;
  line-height: 1.5em;
}

.dashboard-card-subtitle {
  color: #0c0d36;
  line-height: 3em;
  font-weight: 600;
  font-size: 2em;
}
