.page-dashboard {
  #page-content-wrapper {
    background: #f5f5fb;
    min-width: 100vw;
  }

  #sidebar-wrapper {
    margin-top: 3.9em;
    min-height: 100vh;
    margin-left: -15em;
    transition: margin 0.2s ease-out;

    .sidebar-heading {
      padding: 0.875em 1.25em;
      font-size: 1.2em;
    }

    .list-group {
      width: 15em;
    }
  }

  #wrapper {
    &.toggled {
      #sidebar-wrapper {
        margin-left: 0;
      }
    }
  }

  .navbar-store {
    margin-top: 0;
    background-color: #f5f5fb;
    box-shadow: 0px 4px 5px #cacad1;

    @include media-breakpoint-up(md) {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .list-group-item {
    border: 0;
    font-size: 1em;
    color: #c5c5c5;

    &.active {
      background: linear-gradient(
        270deg,
        rgba(255, 113, 88, 0.32) 0%,
        rgba(255, 255, 255, 0) 100%
      );

      border-right: 4px solid #ff7158;
      color: #0c0d36;
    }
  }

  @include media-breakpoint-up(md) {
    #sidebar-wrapper {
      margin-left: 0;
      margin-top: 0;
    }

    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }

    #wrapper {
      &.toggled {
        #sidebar-wrapper {
          margin-left: -15em;
        }
      }
    }
  }

  .section-content {
    margin-top: 6.2em;

    @include media-breakpoint-up(md) {
      margin-top: 1.3em;
      margin-left: 1.3em;
    }

    h5 {
      font-weight: 500;
      color: #0c0d36;
      font-size: 1.1em;
      line-height: 1.6em;
    }

    .dashboard-title {
      font-weight: normal;
      font-size: 1.5em;
      color: #0c0d36;
      line-height: 2.2em;
    }

    .dashboard-subtitle {
      font-weight: 300;
      color: #9191a9;
      font-size: 1em;
      line-height: 1.5em;
    }

    .product-title {
      color: #c5c5c5;
      font-weight: 300;
      font-size: 1em;
      line-height: 1.6em;
    }

    .product-subtitle {
      color: #0c0d36;
      line-height: 1.7em;
      font-size: 1.1em;
      font-weight: normal;
      margin-bottom: 1.1em;
    }
  }

  .nav-pills {
    .nav-link {
      font-weight: normal;
      font-size: 1.1em;
      color: #9191a9;
      border-radius: 0;

      &.active {
        font-weight: 500;
        font-size: 1.1em;
        color: #0c0d36;
        border-bottom: 2px solid #0c0d36;
        background-color: transparent;
      }
    }
  }

  .gallery-container {
    .delete-gallery {
      position: absolute;
      top: -0.3em;
      display: block;
      right: 0;
    }
  }
}
